<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Strength Evaluator</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  
  </head>
  <body>
      <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h3>PASSWORD STRENGTH EVALUATOR</h3><br>
          <form method="POST" class="form-group">
            <input type="text" name="password" class="form-control" placeholder="password" maxlength="16" value="{{ request.form.password }}"><br>
            <button type="submit" name="submit" id="sub_btn" class="btn btn-default">Check</button>
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
      
      <br>
      <div class="text-center">
        <!-- This will display strength of the password after user clicks on submit -->
        <h3>{{ data.strength }}</h3>
      </div>
      <div class='footer'>
        <p>Made with <span style="color: #e25555;">&#9829;</span> by <a href="https://github.com/iamsshan" target="_blank"><i class="fa fa-github" style='font-size:30px'></i></a> </p>
      </div>
      
    
    <!-- Including jQuery and bootstrap and fontawesome-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/87805f5c0c.js"></script>
  </body>
  